.App {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.diamond {
  z-index: 2;
  position: absolute;
  left: 26px;
  top: -11px;
  height: 20vmin;
}

.shank {
  z-index: 1;
  position: absolute;
  left: 25px;
  height: 20vmin;
}